# HTML/XML parsing
beautifulsoup4
lxml 

# bert-extractive-summarizer dependencies
spacy==2.1.3  # preprocessing
neuralcoref
transformers==2.2.2  # pre-trained lang models (e.g. BERT)
bert-extractive-summarizer

#torch 
#torchvision  # for gpu optimization
#tensorflow  # for gpu optimization

#sentence-transformers
#tensorflow

